/*The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*The clear property specifies on which sides of an element floating elements are not allowed to float.*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: 18px;
    font-family: Times New Roman;
}


h1, h2 {
    color: rgba(58, 221, 51, 0.84);
    font-family: Times New Roman;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}


.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 50px;
    margin-left: 10;
}
.container {
    width:1140px;
/*
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
*/
    margin: 20px auto 0 auto;
}

/*The position property specifies the type of positioning method used for an element (static, relative, absolute, fixed, or sticky).*/
.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 2px solid #525252
}

.other {
    margin-bottom: 40px;
}

/*this means that only img in the class author-box*/
.author-box img{
    height: 170px;
    width 200px;
    border-radius: 50%; /* img get circle*/
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}
.date {
    position: absolute;
    top:10px;
    right: 30px; /*there is no distance between the parent container and the element*/ 
}
